@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Poppins:wght@200&family=Rajdhani&family=Righteous&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Poppins:wght@200&family=Rajdhani&family=Righteous&family=Roboto:ital,wght@1,100&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

ul > div {
    display: flex;
    align-items: center;
    line-height: 2;
}

a {
    height: 32px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

a:hover {
    color: #8DA37D;
}

a:active {
    color: #3B4F66;
}

footer {
    font-family: 'Sarala', sans-serif;;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 0;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    background: linear-gradient(1.25deg, #3B4F66 16.62%, #8DA37D 85.61%);
}

#img-logo {
    width: 125px;
    height: 125px;
}