@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Poppins:wght@200&family=Rajdhani&family=Righteous&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Poppins:wght@200&family=Rajdhani&family=Righteous&family=Roboto:ital,wght@1,100&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

ul > div {
    display: flex;
    align-items: center;
    line-height: 2;
}

/* body{
    background: linear-gradient(1.25deg, #3B4F66 10.62%, #8DA37D 85.61%);
} */

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 0.4px solid white;
    background: linear-gradient(1.25deg, #3B4F66 10.62%, #8DA37D 85.61%);
}

.cabecalho-menu{
    display: flex;
    gap: 34px;
    justify-content: center;
}

.cabecalho-itens1{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-right: 10px;
}
.cabecalho-itens2{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-right: 10px;
}
.cabecalho-itens3{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.cabecalho-com-texto{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Righteous', cursive;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    height: 32px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

a:hover {
    color: #8DA37D;
}

a:active {
    color: #3B4F66;
}

footer {
    font-family: 'Sarala', sans-serif;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 24px 0;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-top: 0.4px solid white;
    background: linear-gradient(1.25deg, #3B4F66 10.62%, #8DA37D 85.61%);
}

#img-logo {
    width: 125px;
    height: 125px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 354px);
    background-color: #3B4F66;
    color: white;
    font-family: 'Sarala', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
    line-height: 2;
}
input {
    padding: 1px;
    border: black 1px;
    width: 270px;
}
button {
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: #3B4F66;
    border: solid #8DA37D;
    width: 100px;
    height: 30px;
}
button:hover {
    background-color: #557497;
}
button:active {
    color: #3B4F66;
    background-color: #8DA37D;
}

#caixa-mensagem{
    height: 500px;
    margin-bottom: 10px;
}