@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Poppins:wght@200&family=Rajdhani&family=Righteous&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Poppins:wght@200&family=Rajdhani&family=Righteous&family=Roboto:ital,wght@1,100&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.container__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.container__left {
    width: 25%;
}

.container__middle {
    /* Take the remaining width */
    flex-grow: 1;
}

.container__right {
    width: 20%;
}

body{
    background: linear-gradient(1.25deg, #3B4F66 10.62%, #8DA37D 85.61%);
}

.Logo-4safe{
    width: 175px;
    padding: 8px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: 0.4px solid white;
}

.cabecalho-menu{
    display: flex;
    gap: 34px;
    justify-content: center;
}

.cabecalho-itens1{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-right: 10px;
}
.cabecalho-itens2{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-right: 10px;
}
.cabecalho-itens3{
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container-man{
    border-top: 0.4px solid white
}

.icone-home{
    width: 30px;
}

.icone-seguro-de-vida{
    width: 30px;
}

.icone-seguro-de-carro{
    width: 30px;
}

.cabecalho-com-texto{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Righteous', cursive;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    height: 32px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
a:hover {
    color: #8DA37D;
}
a:active {
    color: #3B4F66;
}